<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{#link-to 'question' question.id}}{{question.theQuestion}}{{/link-to}}</h2>
  </div>
  <div class="panel-body">
    <p>{{shortText question.inContext}}...{{#link-to 'question' question.id}}See More{{/link-to}}</p>
  </div>
  <div class="panel-footer">
    <p>asked by: {{question.asker}}, on {{question.date}}</p>
  </div>
</div>
