.main-bar{
  background-color: #00b3b3;
}
body{
  background-color: #e6ccb3;
  padding-bottom: 10px;
}
.jumbotron{
  text-align: center;
  height: 250px;

}
.jumbotron, h1{
  color: #996643;
  text-shadow: 15px;

}
.100box{
  width: 100%;
}
.struck{
  text-decoration: line-through;
  color: #666666;
}
.question {
  width: 100%;
  background-color: #00e6e6;
  border-radius: 10px;
}
.question2 {
  width: 100%;
  background-color: #00b3b3;
  border-radius: 10px;
}
.question-edit {
  width: 100%;
  background-color: #00b3b3;
  border-radius: 10px;
}
/*.navbar{
  margin-top: 70px;

}*/
.answer{
  width: 100%;
  background-color: #996433;
  border-radius: 10px;
  padding-bottom: 10px;
}
.panel{
  width: 100%;
}
.panel-default{
  background-color:  #996433;

}
.panel-header{
  background-color: #996433;
}
.deleteQbutton{
  width:90%;
  color: red;
  align: center;
}
