<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="container question">
        <h2> The Question at Hand:</h2>
        {{question-display question=model deleteQuestion="deleteQuestion" }}
        <div>
          {{edit-question question=model updateAsk="updateAsk"}}
        </div>
      </div>


      <div>
        {{answer-question saveAnswer="saveTheAnswer" question=model}}
      </div>
    </div>
    <div class="col-md-7">
      <div class="container answer">
        <h2>What Ya'll Think:</h2>
        {{#each model.answers as |answer|}}
        {{answer-tile answer=answer deleteAnswer="deleteAnswer"  updateAnswer="updateAnswer" question=question likeAnswer="likeAnswer" dislikeAnswer="dislikeAnswer"}}
        {{/each}}
      </div>
    </div>
  </div>

</div>
