<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="container question">
        <h2> The Question at Hand:</h2>
        {{question-display question=model deleteQuestion="deleteQuestion"}}
      </div>
        {{answer-question saveAnswer="saveTheAnswer" question=model}}
    </div>
    <div class="col-md-7">
      <div class="container">
        <h2>What Ya'll think:</h2>
        {{#each model.answers as |answer|}}
        {{answer-tile answer=answer deleteAnswer="deleteAnswer" question=question}}
        {{/each}}
      </div>
    </div>
  </div>

</div>
